$primary-color: #2B4865; // Bleu sombre pour un look professionnel
$secondary-color: #4997D0; // Bleu clair pour les éléments interactifs
$background-color: #F5F7FA; // Gris très clair pour le fond
$highlight-color: #F6B042; // Jaune-orangé pour les accents
$text-color: #333333; // Gris foncé pour un contraste optimal

.background {
    &.default-img {
        background-image: url(assets/images/background-test.png);
    }

    &.holiday-img {
        background-image: url(assets/images/ile.jpg);
    }

    background-position: 50% 50%;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -10;
}

.hero {
    padding-top: 100vh;
    overflow: hidden;

    .header {
        position: relative;
        font-size: 1.2rem;
        height: 0px;
        top: -70vh;
        left: 42vh;
        color: black;
    }
}

.cv-container {
    background-color: white;
}

.cv {
    font-family: 'Arial', sans-serif;
    min-width: 100vh;
    margin: auto;
    padding: 20px;
}

.cv-section {
    margin-top: 20px;
}

.cv-section h2 {
    font-size: 1.5em;
    color: #333;
}

// Ajoutez plus de styles ici selon vos préférences

/* Suite du fichier App.scss */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.section-title {
    margin-top: 30px;
}